h2{
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#square{
    width: 200px;
    height: 200px;
    background-color: black;
    transition: all 1s ease;
}
.output{
    color: white;
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    padding-top: 35%;
}
